.form {
  .error-detail {
    padding-left: 26px;
  }
}
.form-control {
  &:focus, &:active:focus {
    box-shadow: none;
  }
}
.btn {
  &:focus, &:focus:active {
    box-shadow: none;
    outline: none;
  }
}
